<!DOCTYPE html>
<html lang="uk">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta name="dc.language" content="uk-UA" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homekotoba</title>
  <%= stylesheet_link_tag 'bootstrap.min', 'bootstrap-responsive.min', 'custom' %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
  <%= javascript_include_tag 'jquery-ujs', 'bootstrap.min', 'application' %>
</head>
<body>
  <div class="container" id="main">
    <header>
    <h1><%= link_to 'Homekotoba', '/' %></h1>
    </header>
    <article>
      <%= yield %>
    </article>
    <footer>&copy; <%= Time.now.year %> Homekotoba</footer>
  </div>
</body>
</html>
